:root{
    --GrayishBlue: hsl(229, 6%, 66%)
}

.card{
    height:18em;
    margin:2em 4em;
    background-color: white;
    border-radius: 0.5em;
    padding: 1em 2em;
    font-size: 0.8em;
    position: relative;
    box-shadow: 0px 3px 30px -13px rgba(0,0,0,0.75);

}

.card>img{
    position: absolute;
    bottom: 1em;
    right: 1em;
}
.card>p{
    color:var(--GrayishBlue);
}